@import "tailwindcss" important;
@import "../styles/tailwind.css";
@import "../styles/theme.css";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";


@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}


@layer components {
  .markdown {
    @apply max-w-full prose;
  }
  
  .markdown a {
    color: #1da1f2;
  }
  
  .markdown a,
  .markdown code {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding: 2px;
    color: #ff7000 !important;
  }
  
  .markdown pre {
    display: grid;
    width: 100%;
  }
  
  .markdown pre code {
    width: 100%;
    display: block;
    overflow-x: auto;
    color: inherit !important;
  }

  .tab {
    @apply min-h-full bg-light-800 dark:bg-dark-400 text-light-500;
  }
}


@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  
  .flex-between {
    @apply flex justify-between items-center;
  }
  
  .flex-start {
    @apply flex justify-start items-center;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0;
  }

  .active-theme {
    filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg) brightness(104%) contrast(106%) !important;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hash-span {
    margin-top: -140px;
    padding-bottom: 140px;
    display: block;
  }
}

.cl-internal-b3fm6y {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
}
